.section {
    display: flex;
    flex-direction: column;
    padding: 3rem 10rem 3rem 6rem;
}
.hero{
    display: flex;
}
.heading {
    text-align: center;
    margin-top: 9rem;
    margin-left: 9rem;
    font-size: 60px;
    font-family: 'Source Sans Pro', sans-serif;
}
.heading h1 {
    margin-bottom: 0;
}
.btn {
    margin: 30px;
    background-color: #bbbbbb;
    width: 300px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-size: 50px;
    text-align: center;
    padding: 50px 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.btn:hover {
    background-color: #3c3c3c;
    color: aliceblue;
}
.padding {
    margin: 2rem;
    
    height: 250px;
    width: 250px;
    border-radius: 15px;
    margin: 30px;
    background-color: #bbbbbb;
}
.disrupting-btn {
    text-align: center;
    margin: 3rem auto 0;
}
#body {
    background-color: rgb(232, 232, 232);
    font-family: 'Source Sans Pro', sans-serif;
}